h1 {
  margin-bottom: 0.5em;
  font-size: 3.6rem;
}
p {
  margin-bottom: 0.5em;
  font-size: 1.6rem;
  line-height: 1.6;
}

.button-primary::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  border-radius: 77px;
  opacity: 0;
  -webkit-transform: scaleX(0.8);
  -ms-transform: scaleX(0.8);
  transform: scaleX(0.8);
  transition: all 0.3s ease-in;
  z-index: -1;
}
.button-primary:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.overlay::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .3);
}
.header-area {
  position: relative;
  height: 70vh;
  background: url("https://s3.amazonaws.com/plloyd/codepen/eidfjord.jpg") no-repeat center center fixed;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repear;
  background-size: cover;
}

.banner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  color: #fff;
  text-align: center;
  z-index: 1;
}
.banner h1 {
  font-weight: 800;
}
.banner p {
  font-weight: 700;
}



.navbar{
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 70px;
  background-color: #49beff;
}

.logo a{
  text-decoration: none;
  font-family: 'Allura', cursive;
  font-size: 40px;
  color: #e3f1ff;
}

.navbar .navbar_items ul{
  margin-top: 10px;
  display: flex;
}


.navbar .navbar_items ul li{
  text-transform: uppercase;
  margin: 0 10px;
}

.navbar .navbar_items ul li a{
  color: #fff;
  text-decoration: none;
}
.navbar .navbar_items ul li :hover{
  color: #c2fd3d;
  text-decoration: none;
}






