#uname{
font-size: 40px;
  font-weight: bolder;

}
#unam{
  font-size: 30px;
  width: 600PX;
  float: left;
}
#unname{
height: 70px;
  font-size: 30px;
    }
#unamee{
  font-size: 30px;
  float: left;
}

#myFile{
  height: 70px;
  font-size: 30px;
}



