<div id="mainCoantiner">
  <div class="main-header">
  </div>

  <!--dust particel-->
  <div>
    <div class="starsec"></div>
    <div class="starthird"></div>
    <div class="starfourth"></div>
    <div class="starfifth"></div>
  </div>
  <!--Dust particle end--->

  <div class="container text-center text-dark mt-5">
    <div class="row">
      <div class="col-lg-4 d-block mx-auto mt-5">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-md-12">
            <div class="card">
              <div class="card-body wow-bg" id="formBg">
                <h3 class="colorboard">Sign Up</h3>

                <p class="text-muted">If you don't have account ,Sign Up </p>
      <form [formGroup]="registerForm" (ngSubmit)="onsubmit()">
        <div class="input-group mb-3"> <input type="text" class="form-control textbox-dg" [formControlName]="'username'" placeholder="Username"> </div>
        <div class="input-group mb-3"> <input type="text" class="form-control textbox-dg" [formControlName]="'email'" placeholder="Email"> </div>
        <div class="input-group mb-4"> <input type="password" class="form-control textbox-dg"  [formControlName]="'password'"placeholder="Password"> </div>
        <div class="input-group mb-4"> <input type="password" class="form-control textbox-dg" [formControlName]="'confirmPassword'" placeholder="ConfirmPassword"> </div>

                <div class="row">
                  <div class="col-12"> <button type="submit" class="btn btn-primary btn-block logn-btn"  >Register</button> </div>
                  <div class="col-12"> <a href="forgot-password.html" class="btn btn-link box-shadow-0 px-0">Forgot password?</a> </div>
                </div>
      </form>
                <div class="mt-6 btn-list">
                  <button type="button" class="socila-btn btn btn-icon btn-facebook fb-color"><i class="fab fa-facebook-f faa-ring animated"></i></button> <button type="button" class="socila-btn btn btn-icon btn-google incolor"><i class="fab fa-linkedin-in faa-flash animated"></i></button> <button type="button" class="socila-btn btn btn-icon btn-twitter tweetcolor"><i class="fab fa-twitter faa-shake animated"></i></button> <button type="button" class="socila-btn btn btn-icon btn-dribbble driblecolor"><i class="fab fa-dribbble faa-pulse animated"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

